// Chart component styles
// Follows BEM methodology: Block__Element--Modifier

.chart {
    &__container {
        height: 300px;
        margin-top: $spacing-lg;
        display: none;

        &--visible {
            display: block;
        }
    }
}
