.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: $spacing-lg;
    box-shadow: $shadow-md;

    &__header {
        background-color: $color-background;
        font-weight: bold;
        color: $color-text-secondary;
    }

    &__cell {
        padding: $spacing-sm $spacing-md;
        text-align: left;
        border-bottom: 1px solid $color-border;

        &--metric {
            font-weight: bold;
            text-align: center;
        }

        &--best-value {
            font-weight: bold;
            color: $color-success;
        }
    }

    &__row {
        &:hover {
            background-color: $color-background-light;
        }
    }
}
