<div {{ attributes }}>
    <div data-loading="delay|show">
        <div class="stats-card__container">
            <span class="spinner">⏳</span> Chargement de la liste des benchmarks...
        </div>
    </div>

    {% if this.benchmarks %}
        <div data-loading="hide" class="benchmark-list">
            {% for benchmark in this.benchmarks %}
                <div data-benchmark-filter-target="card">
                    <twig:BenchmarkCard
                        benchmarkId="{{ benchmark.benchId }}"
                        benchmarkName="{{ benchmark.name }}"
                    />
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
