{% extends 'base.html.twig' %}

{% block title %}Comparaison par version PHP{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <div class="dashboard__container">
        <h1 class="dashboard__title">Comparaison par version PHP</h1>

        <div class="stats-card__container">
            <h2 class="dashboard__subtitle">Vue d'ensemble des benchmarks</h2>
        </div>

        <twig:BenchmarkList />
    </div>
{% endblock %}
